.wrapperDropDown {
	box-shadow: 0px 4px 24px 0px rgba(25, 118, 210, 0.16);

	.nonClicked {
		width: 100%;
		height: 30px;
	}
	.wrapperClose {
	}
	.InputWrapper {
		position: relative;
		input {
			margin-left: 10px;
			padding-top: 6px;
			padding-bottom: 6px;
			padding-right: 70%;
			padding-left: 1%;
			display: block;
			background-color: #f9f9f9;
			color: var(--coolor-blue-main);
		}
		.focusedIcon {
			position: absolute;
			top: 11px;
			left: 86%;
			transition: all 0.5 ease-in-out;
		}
	}
	overflow: auto;
	width: 286px;
	height: 302px;
	div {
		height: 40px;
		max-width: 286px;
		margin-left: 5px;
		button {
			display: flex;
			max-width: 286px;

			width: 100%;
			font-family: IBM Plex Sans sans-serif;
			font-size: 16px;
			color: #b1b1b1;
			border-right: none;
			button {
				width: 0;
			}
		}
	}

	.wrapperInput {
		.wrapperIcon {
			position: absolute;
			top: 11px;
			left: 86%;
			transition: all 0.5 ease-in-out;
		}
		.focusedIcon {
			position: absolute;
			top: 11px;
			left: 86%;
			transition: all 0.5 ease-in-out;
		}
	}

	.inputWrapper {
		margin-left: 10px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-right: 70%;
		padding-left: 1%;
		display: block;
		background-color: #f9f9f9;
		color: var(--coolor-blue-main);
	}
}
.clickedSize {
	background-color: #edf4fc;
	width: 100%;

	.spanClicked {
		color: var(--coolor-blue-main);
	}
}
.firstBtn {
	margin-top: 4px;
	position: relative;

	.wrapperIconClose {
		position: absolute;
		top: 11px;
		right: 10px;
	}
}
