.DropDownSize {
	display: flex;

	box-shadow: 0px 4px 24px 0px rgba(25, 118, 210, 0.16);

	flex-direction: column;
	overflow: auto;
	width: 286px;
	height: 302px;
	button {
		font-family: IBM Plex Sans sans-serif;
		font-size: 16px;
		color: #b1b1b1;
		border-right: none;
	}

	.inputWrapper {
		margin-left: 10px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-right: 70%;
		padding-left: 1%;
		display: block;
		background-color: #f9f9f9;
		color: var(--coolor-blue-main);
	}
}
