.btnsFilter {
	margin-left: 10px;
	margin-right: 10px;
	background: none;
	color: var(--color-text-second);
	&:hover {
		color: var(--color-general);
		font-size: 16px;
		font-weight: 500;
		//text-decoration: underline;
	}
}
.wrapperInputOut {
	margin-top: 25px;
}
.wrapperFilterAndSearch {
	display: flex;
	flex-direction: column;

	margin-top: 25px;
}
:root {
	::-webkit-input-placeholder {
		text-align: center;
	}

	:-moz-placeholder {
		/* Firefox 18- */
		text-align: center;
	}

	::-moz-placeholder {
		/* Firefox 19+ */
		text-align: center;
	}

	:-ms-input-placeholder {
		text-align: center;
	}
}
